= form_for @login do |f|
  - if @login.errors.any?
    #error_explanation
      %h2= "#{pluralize(@login.errors.count, "error")} prohibited this login from being saved:"
      %ul
        - @login.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :new
    = f.text_field :new
  .field
    = f.label :edit
    = f.text_field :edit
  .field
    = f.label :create
    = f.text_field :create
  .field
    = f.label :destroy
    = f.text_field :destroy
  .actions
    = f.submit 'Save'
