%h1 Listing logins

%table
  %tr
    %th New
    %th Edit
    %th Create
    %th Destroy
    %th
    %th
    %th

  - @logins.each do |login|
    %tr
      %td= login.new
      %td= login.edit
      %td= login.create
      %td= login.destroy
      %td= link_to 'Show', login
      %td= link_to 'Edit', edit_login_path(login)
      %td= link_to 'Destroy', login, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Login', new_login_path
