%p#notice= notice

%p
  %b New:
  = @login.new
%p
  %b Edit:
  = @login.edit
%p
  %b Create:
  = @login.create
%p
  %b Destroy:
  = @login.destroy

= link_to 'Edit', edit_login_path(@login)
\|
= link_to 'Back', logins_path
